.card__container {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__name {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
  display: flex;
  font-size: 1.4rem;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.card__img--container {
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  height: 200px;
  margin-top: 20px;
  overflow: hidden;
  text-align: center;
  width: 320px;
}

.card__img {
  height: 200px;
}
