:root {

  --green-gradient: linear-gradient(135deg, #003b1b 0%, #00692e 49%, #00fc71 100%);

  --blue-gradient: linear-gradient(135deg, #001b3b 0%, #003679 49%, #0073ff 100%);

  --purple-gradient: linear-gradient(135deg, #0b0016 0%, #6700c7 49%, #f100ff 100%);

}

.card__container {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__name {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
  display: flex;
  font-size: 1.4rem;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.card__img--container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  height: 220px;
  margin-top: 20px;
  overflow: hidden;
  text-align: center;
  width: 340px;
}

.card__img {
  height: 220px;
}

.card__description {
  align-items: center;
  background-color: rgb(243, 216, 255);
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  display: flex;
  height: 80px;
  margin: 20px 0;
  padding: 10px;
  text-align: center;
  width: 340px;
}

.card__attr {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: inset 0 0 6px black;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding-right: 30px;
  width: 100px;
}

.card__attr--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
}

.card__attr--img {
  width: 40px;
}

.super-trunfo--container {
  align-items: center;
  animation: appear 1s ease-in-out;
  background-color: rgb(255, 145, 0);
  box-shadow: inset 0 0 3px black;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-top: 30px;
  width: 384px;
}

.super-trunfo {
  border-radius: 50%;
  box-shadow: 0 0 20px gold , 0 0 20px gold , 0 0 20px gold;
  margin-right: 30px;
  width: 60px;
}

.normal {
  background-image: var(--green-gradient);
  color: white;
  font-size: 1.2rem;
  margin-bottom: -10px;
  margin-top: 10px;
  padding: 2px;
  text-align: center;
  transition: all 0.2s linear;
  width: 384px;
}

.raro {
  background-image: var(--blue-gradient);
  color: white;
  font-size: 1.2rem;
  margin-bottom: -10px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  transition: all 0.2s linear;
  width: 384px;
}

.muito {
  background-image: var(--purple-gradient);
  color: white;
  font-size: 1.2rem;
  margin-bottom: -10px;
  margin-top: 10px;
  padding: 7px;
  text-align: center;
  transition: all 0.2s linear;
  width: 384px;
}

@keyframes appear {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}
